#search-component input[type="text"] {
  background-color: #424141;
  border: none;
  width: 300px;
  color: rgb(142, 142, 142);
}

#search-component input[type="text"]:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#search-component button {
  background-color: #424141;
  border: none;
  color:rgb(142, 142, 142);
}
