{% extends 'base.html' %} 

{% block title %}Set new password {% endblock %}

{% block content %}
<div class="text-center mt-5" style="width: 80%; margin: 0 auto">
  <h1>Password Reset Form</h1>
  <h6 style="width: 60%; margin: 0 auto">
    Please enter your new password so we can verify.
  </h6>
</div>
<br />
<form action="" method="POST" class="text-center">
  {% csrf_token %} 
  {{ form }}
  <input type="submit" id="submit_btn" value="Reset Password"/>
</form>

{% endblock %}

{% block javascript %}
  <script>
    const password1 = document.querySelector('#id_new_password1');
    const password2 = document.querySelector('#id_new_password2');
    const submit_btn = document.querySelector('#submit_btn');

    password1.placeholder = 'Enter new password';
    password2.placeholder = 'Confirm password';
    password1.className = password2.className = 'form-control w-50 mx-auto';
    submit_btn.className = 'btn btn-primary mt-3';
    password2.style.marginTop = '-30px';

    document.querySelector('span.helptext').innerHTML = '';
    document.querySelectorAll('label').forEach(HideLabels);
    function HideLabels(label) {
      label.innerText = '';
    }
  </script>
{% endblock %}