{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="text-center mt-5" style="width: 80%; margin: 0 auto">
    <h1>Welcome to the Password Reset Page</h1>
    <p class="lead">
      Forgot your password? Please enter the email address you used to register
      with us and we will send you a link to reset your password
    </p>
  </div>
  <br/>

  <form action="" method="POST" class="text-center">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" id="submitbtn" value="Send"></p>
  </form>

  <div class="text-center">
    <a href="{% url 'login' %}">Back to login</a>
  </div>

{% endblock %}

{% block javascript %}
  <script>
    const email_field = document.querySelector('#id_email');
    email_field.className = 'form-control w-50 mx-auto';
    email_field.placeholder = 'abcd@example.com';

    const submit_btn = document.querySelector('#submitbtn');
    submit_btn.className = 'btn btn-primary';
  </script>
{% endblock %}